.projectWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid orange;
    margin-bottom: 30px;
}

.projectCard {
   display: flex;
   flex-direction: row;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 32%;
    margin: 5px;
    color: white;
    border: 1px solid white;
}

.projectName {
    font-size: 36px;
}

.projectDescription {
    font-size: 20px;
}